@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media (hover: hover) and (pointer: fine) {
    .btn-primary:hover {
        background-color: #eba40c !important;
        border: 1px solid #eba40c !important;
    }
}

body {
    font-family: 'SUIT-Regular';
    font-weight: 500 ;
}

*::-webkit-scrollbar {
    width: 15px;
    background-color: transparent
}

*::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 10px;
    background-clip: padding-box;
    border: 5px solid transparent;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

h5 {
    font-family: 'SUIT-Regular';
    font-weight: 600 ;
}

label {
    font-weight: 600;
}

.btn-primary {
    background-color: #FFB413 !important;
    border: 1px solid #FFB413 !important;
}

/* .btn-primary:hover {
    background-color: #eba40c !important;
    border: 1px solid #eba40c !important;
} */

.offcanvas {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    min-height: 400px;
    border-top: none !important;
    --bs-offcanvas-height: auto;
}

.full {
    flex: 1;
    border-radius: 0;
}

.bold {
    font-weight: 600;
}

.btn-gray {
    background-color: #e8e8e8;
    color: #999999;
    width: 33%
}
.btn-check+.btn:hover, .btn-gray:hover {
    color: #999999;
    background-color: #d3d3d3;
}


.btn-check:checked+.btn {
    border: 1px solid #FFB413 !important;
    background-color: #FFB413 !important;
    color: white !important;
}

#footer-btn {
    text-align: center;
    background-color: #FFB413 !important;
}

#footer-btn .text-muted{
    color: white !important;
}

.btn-qty-container span {
    width: 30px;
    text-align: center;
}

.btn-qty {
    padding: 0.3rem 0.7rem !important;
}

.btn-refresh {
    padding-top: 2px;
}

.menu-list > li {
    font-weight: 500;
}

.btn:disabled {
    opacity: 1 !important;
    border: 1px solid #d3d3d3 !important;
    background-color: #d3d3d3 !important;
    color: #999999;
}

.row>* {
    font-size: 14px;
    padding: 8px 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.row.th {
    background-color: #FFB413;
    color: white;
}

.list > .row:not(:last-child,:first-child)
{
    border-bottom: 1px solid #e8e8e8;
}

.width-100 {
    width: 100%;
}



/* 매출 내역 */
.sales-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge-platform {
    width: 24px;
    height: 24px;
}

.sales-num-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding-left: 1rem;
}

.title-sm {
    color: #999999;
    font-size: 12px;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}